*.dwg    binary
*.gif    binary
*.iam    binary
*.igs    binary
*.ipt    binary
*.jpg    binary
*.PDF    binary
*.pdf    binary
*.sat    binary
*.STEP   binary
*.step   binary
*.stp    binary
*.zip    binary
*.g      binary
*.x3g    binary

